body {
  background-color: #2980B9;
  overflow: hidden;
  font-family: helvetica;
  text-transform: uppercase;
  font-weight: 900;
  color: #ECF0F1;
}

img {
  filter: drop-shadow(0 0 2px #000)
}

.text-size-1 {
  font-size: 1.25em;
}

.text-size-2 {
  font-size: 1.5em;
}

.text-size-3 {
  font-size: 2.5em;
}

.text-size-4 {
  font-size: 2em;
}

.drop-shadow {
  filter: drop-shadow(0 0 2px #000)
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.wrapper2 {
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
  grid-auto-columns: minmax(300px, auto);
}

.wrapper3 {
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-auto-rows: minmax(110px, auto);
  justify-items: center;
}

.three-to-four {
  grid-column: 3/4;
}

.one-to-four {
  grid-column: 1/4;
}

.nested {
  display: grid;
  grid-template-columns: 1fr;
}

.gameletter {
  grid-column: 2/3;
  justify-self: end;
}

.start {
  justify-self: center;
  line-height: 1;
  background: #2C3E50;
  text-align: center;
}

.start:hover span {
  display: none
}

.start:hover:before {
  color: #E74C3C;
  content: "시작";
}

.white {
  color: #ECF0F1;
}

.blue {
  color: #2C3E50;
}

.red {
  color: #E74C3C;
}

.bg-blue {
  justify-self: stretch;
  background: #2C3E50;
}
